@charset 'utf-8';

body {
  background-color: #eae8fe;
}

#app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 28px;
  padding-top: 247px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

.title > img {
  position: absolute;
  width: 386px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cont-vending-machine,
.cont-myinfo {
  flex-basis: 360px;
}

/* 자판기 화면 */
.cont-vending-machine {
  background-color: #fff;
  padding: 31px 27px 28px;
}

.cont-vending-machine .list-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.cont-vending-machine .list-item li {
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.list-item .btn-item {
  width: 100%;
  padding: 11px 12px 9px;
}

.list-item .btn-item:active {
  outline: 3px solid #6327fe;
  border-radius: 10px;
}

.list-item .img-item {
  display: block;
  width: 36px;
  height: 65px;
  margin: 0 auto;
}

.list-item .title-item {
  display: block;
  font-size: 9px;
  text-align: center;
  padding: 7px 0 7px 0;
}

.list-item .txt-price {
  display: block;
  font-size: 12px;
  padding: 5px 15px;
  background-color: #6327fe;
  border-radius: 50px;
  color: #fff;
}

/* 구입 관련 정보 */
.cont-vending-machine .cont-buy {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-top: 20px;
}

.cont-buy .info-balance,
.cont-buy .input-put,
.cont-buy .list-item-staged {
  grid-column: 1/3;
  border-radius: 5px;
}

.cont-buy .btn-change,
.cont-buy .btn-put,
.cont-buy .btn-get {
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 13px;
}

.cont-buy .btn-get {
  color: #fff;
  background-color: #6327fe;
}

.cont-buy .info-balance {
  padding: 6px 10px;
  background-color: #eae8fe;
}

.cont-buy .txt-balance {
  float: right;
}

.cont-buy .input-put {
  padding: 4px 0 6px 8px;
  border: 1px solid #bdbdbd;
}

.cont-buy .input-put::placeholder {
  font-size: 13px;
  color: #bdbdbd;
}

.list-item-staged {
  height: 106px;
  padding: 12px;
  overflow-y: scroll;
  background-color: #eae8fe;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.list-item-staged li {
  border-radius: 5px;
  background-color: #fff;
}

.list-item-staged li + li {
  margin-top: 6px;
}

.list-item-staged .img-item,
.list-item-staged .txt-item {
  float: left;
}

.list-item-staged .btn-staged {
  width: 100%;
  padding: 8px;
}

.list-item-staged .txt-item {
  margin-left: 10px;
  line-height: 32px;
  font-size: 9px;
}

.list-item-staged .num-counter {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.list-item-staged .img-item {
  width: 18px;
  height: 32px;
}

/* 나의 정보 */
/* 소지금 */
.cont-myinfo .cont-mymoney {
  padding: 9px 27px;
  margin-bottom: 20px;
  background-color: #fff;
}

.cont-mymoney .info-mymoney {
  padding: 6px 10px;
  background-color: #eae8fe;
  border-radius: 5px;
}

.cont-mymoney .txt-mymoney {
  float: right;
}

.cont-myinfo .cont-myitem {
  background-color: #fff;
  padding: 25px 27px 26px;
}

.cont-myitem .title-myitem {
  display: block;
  text-align: center;
  font-weight: 700;
  margin-bottom: 13px;
}

.cont-myitem .list-item-staged {
  height: 368px;
}

.cont-myitem .txt-total {
  display: block;
  text-align: right;
  margin-top: 7px;
  font-size: 12px;
}
